@font-face{
    font-family: 'NanumGothic';
    src: url("../img/NanumGothicCoding.ttf") format("truetype");
}
@font-face{
    font-family: 'NanumBrush';
    src: url("../img/NanumBrush.ttf") format("truetype");
}
/* element */
*{
    font-family: NanumGothic;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
li {
    list-style:none;
}
a{
    text-decoration: none;
}
h1{
    font-family: "NanumBrush";
    font-size: 2.5em;
    letter-spacing: 5px;
    padding: 5px;
    margin-bottom: 30px;
  
}
h2{
    font-size: 1.3em;
}
/* header */
header{
    position: absolute;
    top: 0;
    width: 100%;
}
#logo{
    float: left;
    width: 20%;
    text-align: center;
    margin: 10px;
}
#logo>a{
    font-size: 2.5em;
    font-family: "NanumBrush";
}
#nav-bar{
    float: right;
    margin: 10px;
}
#nav-bar>ul{
    position: relative;
    bottom: 0;
}
#nav-bar>ul>li{
    line-height: 14px;
    padding:5px;
    float: left;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: skyblue;
    border-radius: 5px;
    margin: 5px;
}
.menu:hover{
    font-weight: bold;
}
/* content */
#content-wrap{
    width: 100%;
    position: relative;
    top: 80px;
}
#content-wrap:after{
    content: "";
    display: block;
    clear: both;
}
/* table */
#table{
    width: 80%;        
    margin: 10px auto;    
}
table{
    width: 100%;
    text-align: center;
}
th,td{
    padding: 5px;
}
th{
    font-size: 1.2em;
    border-bottom: 2px solid skyblue;
    border-top: 2px solid skyblue;
}
.table-contents{
    width:50%;
}
td:nth-of-type(2){
    text-align: left;
}
tr:nth-of-type(2n-1)>td{
    background-color: #eee;
}
tr:nth-of-type(2n-1)>td *{
    background-color: #eee;
}
/* align center */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* form */
.form input[type="text"]{
    color: #aaa;
    border-width: 0 2px 2px 0;
    border-color: skyblue;
    border-radius: 5px;
}
.form input[type="password"]{
    border-width: 0 2px 2px 0;
    border-color: skyblue;
    border-radius: 5px;
}
.button{
    text-align: right;
}
.button input[type="button"]{
    color: #fff;
    font-weight: bold;    
    background-color: skyblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer>*{
    background-color: #eee;
}
footer>div{
    padding: 5px;
    text-align: center;
}
#footernav{
    color: #666;
}
#copyright{
    color: #999;
}