h1{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: skyblue;
}

h2{
    margin-bottom: 10px;
    font-weight: bold;
}
.input{
    width: 70%;
    text-align: left;
}
.idpass{
    width: 50%;
    float: left;
}
.private{
    width: 50%;
    float: left;
}
.input input[type="text"]{
    width: 70%;
    height: 40px;
    margin:0 0 20px 0;
}
.button{
    text-align: right;
}